.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 165px;
  margin: 0 auto;

  @include desktop {
    padding: 0 50px;
  }

  @include tablet {
    padding: 0 25px;
  }

  @include mobile {
    padding: 0 20px;
  }
}
