.footer {
  padding-top: 85px;
  padding-bottom: 86px;
  background-color: #FAFAFA;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include mobile {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;

    @include mobile {
      width: calc(50% - 15px);
      margin-bottom: 30px;
    }

    &:nth-of-type(2) {
      padding-right: 68px;

      @include desktop {
        padding-right: 0;
      }
    }

    &:nth-of-type(3) {
      padding-right: 55px;

      @include desktop {
        padding-right: 0;
      }
    }

    &:nth-of-type(4) {
      padding-right: 36px;

      @include desktop {
        padding-right: 0;
      }
    }
  }

  &__title {
    margin-bottom: 33px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__address {
    font-size: 12px;
    line-height: 1.5;

    margin: 0;

    color: $dark;
  }

  &__nav-list {
    @include list-reset;
    font-size: 12px;
    line-height: 1.6;
  }

  &__nav-link {
    transition: opacity $transition-props;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__social-list {
    @include list-reset;
    display: flex;
    padding-left: 4px;
  }

  &__social-item {
    margin-right: 15px;
  }

  &__social-link {
    display: block;
    transition: opacity $transition-props;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__partners {
    width: 216px;
    height: auto;
  }

  &__copyright {
    font-size: 12px;
    line-height: 14px;

    color: $dark;

    width: 100%;
    margin: 100px 0 0;

    @include tablet {
      margin: 50px 0 0;
    }
  }

  &__mail,
  &__phone {
    font-size: 12px;
    line-height: 1.2;
    transition: opacity $transition-props;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__mail {
    margin-bottom: 12px;
  }

  &__phone {
    margin-bottom: 20px;
  }
}
