.header {
  position: relative;
  padding-top: 50px;

  @include mobile {
    padding: 20px 0;
  }

  &.opened {
    @include mobile {
      .header__nav {
        display: block;
        padding: 50px;
        overflow: scroll;
        position: absolute;
        background-color: $white;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        color: $black;
      }

      .header__login {
        display: block;
        position: absolute;
        left: 50px;
        background-color: $red;
        border-color: $red;
      }

      .header__list {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-top: 40px;
      }

      .header__item {
        width: 100%;
      }

      .header__link {
        color: $black;
      }

      .header__btn {
        position: relative;
        background-image: url("../img/icon-btn-cross.svg");
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @include desktop {
      justify-content: space-between;
    }
  }

  &__btn {
    display: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    background-image: url("../img/icon-btn-burger.svg");
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
    cursor: pointer;
    transition: opacity $transition-props;

    &:hover {
      opacity: 0.5;
    }

    @include mobile {
      display: block;
    }
  }

  &__logo {
    position: relative;

    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;

    padding-left: 36px;
    margin-right: 162px;

    text-transform: uppercase;
    color: $white;

    transition: opacity $transition-props;
    cursor: pointer;

    @include desktop {
      margin-right: auto;
    }

    &:hover {
      opacity: 0.5;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);

      width: 26px;
      height: 19px;
      background-image: url("../img/cloud.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__nav {
    margin-right: auto;

    @include mobile {
      display: none;
    }
  }

  &__list {
    @include list-reset;
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 20px;

    @include tablet {
      margin-right: 10px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1.2;
    color: $white;
    text-transform: uppercase;

    transition: opacity $transition-props;
    cursor: pointer;

    @include mobile {
      display: block;
      padding: 20px 20px 20px 0;
    }

    &:hover {
      opacity: 0.5;
    }

    &.active {
      font-weight: bold;
    }
  }

  &__login {
    @include mobile {
      display: none;
    }
  }
}
