.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 95px;
  padding-right: 260px;

  @include desktop {
    padding-right: 50px;
  }

  @include tablet {
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include mobile {
    flex-direction: column;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__wrapper {
    width: calc(50% - 62px);

    @include tablet {
      width: calc(50% - 15px);
    }

    @include mobile {
      width: 100%;
    }

    &--text {
      padding-top: 26px;

      @include mobile {
        padding-top: 0;
        margin-bottom: 30px;
      }
    }

    &--img {
      border-radius: 15px;
      background-color: #C4C4C4;
      overflow: hidden;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    margin: 0 0 44px;

    @include tablet {
      margin: 0 0 30px;
    }
  }

  &__link {
    display: block;
    margin-top: 22px;
    color: $red;

    transition: opacity $transition-props;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}
