$desktop-l: 1439px;
$desktop-m: 1023px;
$tablet-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font: "Lato", "Arial", sans-serif;

$transition-props: 0.2s ease;

$black: #000000;
$white: #ffffff;
$red: #ED4C5C;
$dark: #101010;
$input-color: rgba(19, 39, 67, 0.5);
$border-color: #333333;

